# Local env
.env

# Coverage artifacts
coverage.lcov
lcov/

# Deno cache (optional - CI caches this separately)
.deno
/.cache/deno

# Node / Vite artifacts
node_modules/
dist/
build/
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/

coverage.lcov
lcov/
.env
